

.app-wrapper{
  position:relative;

  left: 400px;
  top: 40px;
  width: 350px;
  height: 200px;
  margin-top: 220px;
  border: solid 3px #30d5c8;
  border-radius: 10px;
  background-color: black;
}


.count {
  position: relative;
  background-color: #30d5c8;
  text-align: center;
  width:300px;
  height: 100px;
  margin-left: 25px;
  margin-top:20px;
  padding-top:10px;
  padding-bottom: 20px;
  border-radius: 10px;
  border: solid 3px black;
}



.inc {
  position: relative;
  background-color: #30d5c8;
  margin-top: 10px;
  margin-left: 40px;
  width: 90px;
  height: 30px;
  border-radius: 7px;
}
number {
  text-size: 1px;
}
.endCount {
  color: red
}
.noinc{
  opacity:0.5;
  position: relative;
  background-color: #30d5c8;
  margin-top:10px;
  margin-left: 40px;
  width: 90px;
  height: 30px;
  border-radius: 7px;
}


.reset{
  position:relative;
  background-color: #30d5c8;

  margin-left: 100px;
  width: 90px;
  height: 30px;
  border-radius: 7px;
}
.stopReset {
  opacity:0.5;
  position:relative;
  background-color: #30d5c8;
  margin-left: 100px;
  width: 90px;
  height: 30px;
  border-radius: 7px;
}
